---
import type { CollectionEntry } from "astro:content";

export interface Props {
	entry: CollectionEntry<"talks">;
}

const { entry } = Astro.props;
---

<article>
	<header>
		<span>{entry.data.type}</span>
		{entry.data.title}
	</header>
	<div>{new Date(entry.data.date).toDateString()}</div>
	<div>{entry.data.location}</div>
	<div>{entry.data.event}</div>
	<ul>
		{entry.data.tags && entry.data.tags.map((tag) => <li>{tag}</li>)}
	</ul>
	<ul>
		{
			entry.data.links &&
				entry.data.links.map((link) => <a href={link.url}>{link.text}</a>)
		}
	</ul>
</article>
